html, body {
    font: normal 14px Verdana;
    height: 100%;
    margin: 5px 20px;
}

h3 {
    display: block;
}

hr {
    border: none;
    height: 1px;
    background-color: #4c9ac3;
    clear: both;
}

#server-answer, form, label, textarea {
    font-size: 12px;
    display: block;
}

textarea {
    width: 100%;
}

.tables {
    display: block;
    padding-top: 5px;
}

#container {
    display: inline-block;
}

#cabinet {
    margin-bottom: 10px;
}

.tables, .events {
    text-decoration: none;
}

/* for grid table */
td input, th input {
    background: white;
    width: auto;
}

.btn, #save-btn, #send-btn, #login-btn, #logout-btn, #cabinet-btn, #create-group, #close, #add-person, #reset-btn, #edit-history-btn {
    color: #4c9ac3;
    background: white;
    cursor: pointer;
    width: auto;
}

input {
    width: 100%;
}

input, label, button, textarea {
    margin: 5px 2px 2px 2px;
}

input, button, textarea {
    border: 1px solid #4c9ac3;
}

#error {
    size: 3px;
    color: red;
}

#events, #container {
    min-height: 100%;
    color: #4c9ac3;
    width: 100%;
}

a:link {
    color: #4c9ac3;
    text-decoration: none;
}

a:hover {
    color: pink;
    text-decoration: none;
    cursor: pointer;
}

#wrap {
    float: right;
    display: inline-block;
    color: #4c9ac3;
}

#content {
    background: white;
    border: 1px solid #4c9ac3;
    margin: 0px;
    padding: 10px;
}

#now {
    background: #FFFAF0;
}

.left {
    float: left;
}

.right {
    float: right;
}

ul {
    list-style: none;
}
