{{define "admin"}}
{{template "header"}}

<div id="container">
    <div id="title" class="left"></div><br/>
    <div id="cabinet" class="left"></div>
</div>

<script type="text/javascript">
    $("#title").append("Личный кабинет <strong>admin</strong>");

    $("#cabinet").empty();

    for (var i = 0; i < {{.Columns}}.length; ++i) {
        $("<a/>", {
            class: "tables",
            text: {{.ColNames}}[i],
            id: {{.Columns}}[i],
            href: "/gridhandler/select/" + {{.Columns}}[i]
        }).appendTo("#cabinet");
    }
</script>

{{template "footer"}}
{{end}}
