{{define "header"}}
<!DOCTYPE html>
<html>
<head>
    <title>Система учета участников мероприятий</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="/vendor/jquery-ui/themes/redmond/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/vendor/jqGrid/css/ui.jqgrid.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/vendor/jquery.kladr/jquery.kladr.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/vendor/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.css">

    <script src="/vendor/requirejs/require.js"></script>
    <script src="/js/main.js"></script>
</head>

<body>

<a class="btn" href="/">Система учета участников мероприятий</a>
<div class="right">
    <a id="cabinet-btn" href="/usercontroller/showcabinet/" style="visibility: hidden">личный кабинет</a>
    <button id="logout-btn" style="visibility: hidden">выход</button>
</div>
<hr>

{{end}}
