{{define "header"}}
<!doctype html>
<head>
<title>HOME</title>
<meta http-equiv="Content-Type"
      content="text/html; charset=utf-8"/>

<link rel="stylesheet"
      type="text/css"
      href="/css/style.css"/>

<link rel="shortcut icon"
      type="image/png"
      href="/img/favicon.ico"/>

<link rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/cupertino/jquery-ui-1.10.4.custom.css"/>

<link rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/cupertino/jquery-ui-1.10.4.custom.min.css"/>

<link rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/ui.jqgrid.css"
      mce_href="/css/ui.jqgrid.css"/>

<script type="text/javascript"
        src="/js/jquery-1.10.2.js"></script>

<script type="text/javascript"
        src="/js/jquery-1.9.0.min.js"></script>

<script type="text/javascript"
        src="/js/grid.locale-ru.js"></script>

<script type="text/javascript"
        src="/js/jquery.ui.datepicker-ru.js"></script>

<script type="text/javascript"
        src="/js/jquery.ui.timepicker-ru.js"></script>

<script type="text/javascript"
        src="/js/jquery.jqgrid.min.js"></script>

<script type="text/javascript"
        src="/js/jquery-ui-1.10.3.custom.js"></script>

<script type="text/javascript"
        src="/js/jquery-ui-1.10.3.custom.min.js"></script>

<script type="text/javascript" 
        src="/js/jquery.ui.timepicker.js"></script>

<script data-main="/js/main"
        src="/js/require.js"></script>

</head>

<body>

<div id="content-top">
    <div class="div-top-left">
        <input type="button" id="home-btn" value="Система учета участников олимпиад" name="submit"/>
    </div>
    <div class="div-top-right">
        <div class="right">
        <input type="button" id="logout-btn" value="выход" name="submit" style="visibility: hidden"/>
        </div>
        <div class="right">
            <input type="button" id="cabinet-btn" value="личный кабинет" name="submit" style="visibility: hidden"/>
        </div>
    </div>
</div>
<hr/>
{{end}}