{{define "head"}}
{{template "header"}}

<link rel="stylesheet"
      href="/css/jquery.kladr.min.css">

<script type="text/javascript"
        src="/js/kladr/jquery.kladr.min.js"></script>

<div id="container">

    <div id="wrap">
        <div id="user-accordion" style="border: 1px solid #4c9ac3; padding: 20px 20px 20px 20px">
            <h4>Группы</h4>
            <div>
                <p id="get-groups">Мои группы</p>
                <p id="create-group">Создать группу</p>
            </div>
        </div>

        <div id="my-groups" hidden="true" style="border: 1px solid #4c9ac3; padding: 20px 20px 20px 20px">
            <h4>Мои группы</h4>
            <div id="list-groups"></div>
        </div>

    </div>

    <div id="title" class="left"></div></br>
    <div id="server-answer" class="left"></div></br>

    <div id="dialog-form" title="Персона">
        <p class="validateTips"></p>
        <form>
            <label for="name">Имя</label>
            <input type="text" name="name" id="name" value="Gura Yaroslava" class="text ui-widget-content ui-corner-all">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="unknownparameter11@gmail.com" class="text ui-widget-content ui-corner-all">
        </form>
    </div>

    <div id="cabinet" class="left">
        <form></form>
        <div id="group-creation" hidden="true" style="border: 1px solid #4c9ac3; padding: 20px 20px 20px 20px;">
            <h4>Создание группы</h4>
            <div>
                <label>Название</label>
                <input id="group-name" type="text" value=""/>

                <label>Мероприятие</label>
                <select id="list-events"></select>

                <p>
                    <table id="users" class="ui-widget ui-widget-content" hidden="true">
                        <thead>
                            <tr class="ui-widget-header ">
                                <th>Имя</th>
                                <th>Email</th>
                                <th>X</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </p>

                <p><input type="button" id="add-person" value="добавить участника" /></p>
            </div>
            <p>
                <input type="button" id="create-group" value="создать"/>
                <input type="button" id="close" value="закрыть"/>
            </p>
        </div>

        <div>
            <div style="display:none;" id="dialog-persons-request" title="Анкета участника"></div>

            <table id="grid-table" hidden="true"></table>
            <div id="grid-table-pager" hidden="true"></div>
            <div id="error"></div>
        </div>

    </div>

</div>

<script type="text/javascript">

$("#title").append("Личный кабинет");

console.log({{.Table}});

{{with .Table}}
    {{range $index, $elmt := .}}
        var p = $("<p/>");

        var lable = $("<label/>", {
            text: {{$elmt.name}}
        }).appendTo(p);

        var input = $("<div/>", {
        }).text({{$elmt.value}}).appendTo(p);

        $("#cabinet form").append(p);
    {{end}}
{{end}}

$(function() {
    $("#group-name").blur(function() {
        if ($(this).val() !== "") {
            $(this).css({"border": "2px solid green"});
        } else {
            $(this).css({"border": "2px solid red"});
        }
    });
});

// $(function() {
//     $("#user-accordion").accordion({
//         header: "h4",
//         collapsible: true,
//         heightStyle: "fill",
//         active: false,
//     });
// });

require(["utils", "custom-grid"],
function(utils, grid) {
    var dialog, form,
        emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
        name = $("#name"),
        email = $("#email"),
        allFields = $([]).add(name).add(email),
        tips = $(".validateTips");

    function updateTips(t) {
        tips.text(t).addClass("ui-state-highlight");

        setTimeout(function() {
            tips.removeClass("ui-state-highlight", 1500);
        }, 500);
    }

    function checkLength(o, n, min, max) {
        if (o.val().length > max || o.val().length < min) {
            o.addClass("ui-state-error");
            updateTips("Длина значения поля \"" + n + "\" изменяется от " + min + " до " + max + " символов.");
            return false;
        } else {
            return true;
        }
    }

    function checkRegexp(o, regexp, n) {
        if (!(regexp.test(o.val()))) {
            o.addClass("ui-state-error");
            updateTips(n);
            return false;
        } else {
            return true;
        }
    }

    function addPerson() {
        var valid = true;

        allFields.removeClass("ui-state-error");

        valid = valid && checkLength(name, "Имя", 3, 16);
        valid = valid && checkLength(email, "Email", 6, 80);

        valid = valid && checkRegexp(name, /^[a-z]([0-9a-z_\s])+$/i, "Имя персоны может содержать of a-z, 0-9, подчерки, пробелы и должно начинаться с буквы.");
        valid = valid && checkRegexp(email, emailRegex, "например, ui@jquery.com");

        if (valid) {
            var td1 = $("<td/>", {text: name.val(), class: "one"});
            var td2 = $("<td/>", {text: email.val(), class: "two"});

            var del = $("<input/>", {type: "button", value: "удалить", style: "cursor: pointer;"});
            var td3 = $("<td/>").append(del);

            del.click(function() {
                $(this).parent().parent().remove();
            });

            var tr = $("<tr/>").append(td1).append(td2).append(td3);

            $("#users tbody").append(tr);

            dialog.dialog("close");
        }

        return valid;
    }

    dialog = $("#dialog-form").dialog({
        autoOpen: false,
        height: "auto",
        width: "auto",
        modal: true,
        buttons: {
            "Добавить": addPerson,
            "Отмена": function() {
                dialog.dialog("close");
            }
        },
        close: function() {
            form[0].reset();
            allFields.removeClass("ui-state-error");
        }
    });

    form = dialog.find("form").on("submit", function(event) {
        event.preventDefault();
        addPerson();
    });

    var click = false;

    function listEvents(data) {
        if (data["result"] !== "ok") {
            $("#server-answer").text(data["result"]).css("color", "red");
            return;
        }

        for (i in data["data"]) {
            $("#list-events").append($("<option/>", {
                value: data["data"][i]["id"],
                text: data["data"][i]["name"],
            }));
        }
    }

    $("#create-group").click(function() {
        $("#group-creation").show();

        // $("#group-creation").accordion({
        //     header: "h4",
        //     collapsible: true,
        //     heightStyle: "fill",
        // });


        $("#add-person").click(function() {
            $("#group-creation table").show();
            $("#dialog-form").dialog("open");
        });

        utils.postRequest(
            {
                "table": "events",
                "fields": ["id", "name"]
            },
            listEvents,
            "/handler/getlist"
        );

        $("#close").click(function() {
            $("#group-creation").hide();
        });

        $("input#create-group").click(function() {
            var groupName = $("#group-name").val();

            if (groupName === "") {
                alert("Заполните поле \"Название группы\"");
                return;
            }

            var data = [];
            $("div#group-creation table tbody").find("tr").each(function() { 
                var row = {};

                row["name"] = $(this).children('td.one').text();
                row["email"] = $(this).children('td.two').text();

                data.push(row);
            });

            var js = {
                "group-name": groupName,
                "event_id": $("#list-events").find(":selected").attr("value"),
                "persons": data
            };

            console.log("data: ", js);

            utils.postRequest(
                js,
                function(data) {
                    $("#close").trigger("click");
                    $("#server-answer").text(data["result"]).css("color", "green");
                },
                "/handler/creategroup"
            );
        });

    });

    $("#get-groups").click(function() {
        utils.postRequest(
            // { "group_id": data["data"][i]["id"] },
            null,
            Boom,
            "/handler/getgroup"
        );

        // utils.postRequest(
        //     null,
        //     function(data) {
        //         if (data["result"] !== "ok") {
        //             $("#server-answer").text(data["result"]).css("color", "red");
        //             return;
        //         }

                // for (i in data["data"]) {
                //     var p = $("</p>", {});
                //     var a = $("<a/>", {
                //         text: data["data"][i]["name"],
                //         href: "#",
                //     });
                //     $(a).click(function() {
                //         utils.postRequest(
                //             { "group_id": data["data"][i]["id"] },
                //             Boom,
                //             "/handler/getgroup"
                //         );
                //     });
                //     $(p).append(a);
                //     $(p).appendTo("#list-groups");
                // }

                // $("#my-groups").show();
        //     },
        //     "/handler/getgroups"
        // );
    });

    function Boom(res) {

        console.log("boom data: ", res)
        var colModel_ = [];
        for (var i = 0; i < res["data"]["Columns"].length; ++i) {
            colModel_.push(grid.GetColModelItem([], {}, res["data"]["Columns"][i]))
        }

        $("#grid-table").jqGrid({
            url:           "/handler/groupload",
            datatype:      "json",
            mtype:         "POST",
            treeGrid:      false,
            colNames:      res["data"]["ColNames"],
            colModel:      colModel_,
            pager:         "#grid-table-pager",
            gridview:      true,
            sortname:      "id",
            viewrecords:   true,
            height:        "100%",
            width:         "auto",
            rowNum:        5,
            rownumbers:    true,
            rownumWidth:   20,
            rowList:       [5, 10, 20, 50],
            caption:       res["data"]["Caption"],
            sortname:      "id",
            sortorder:     "asc",
            multiselect:   true,
            editurl:       "/handler/edit",
            loadError: function (jqXHR, textStatus, errorThrown) {
                alert('HTTP status code: ' + jqXHR.status + '\n'
                    + 'textStatus: ' + textStatus + '\n'
                    + 'errorThrown: ' + errorThrown);
                alert('HTTP message body (jqXHR.responseText): ' + '\n' + jqXHR.responseText);
            },

            subGrid:            res["data"]["Sub"],
            subGridOptions:     {
                                    "plusicon": "ui-icon-triangle-1-e",
                                    "minusicon": "ui-icon-triangle-1-s",
                                    "openicon": "ui-icon-arrowreturn-1-e",
                                    "reloadOnExpand": true,
                                    "selectOnExpand": true
                                },
            subGridRowExpanded: function(subgrid_id, row_id) {
                                    grid.AddSubTable(subgrid_id, row_id, "0", subgrid_id + "_t", "p_" + subgrid_id + "_t", "groups");
                                }
        });

        $("#grid-table").navGrid(
            "#grid-table-pager",
            {   //buttons
                edit:    true,
                add:     false,
                del:     true,
                refresh: false,
                view:    false,
                search:  false
            },
            {   //edit
                width:           "100%",
                recreateForm:    true,
                closeAfterEdit:  true,
                // afterSubmit:     errTextFormat,
                // errorTextFormat: errTextFormat,
            },
            {   //add
                width:           "100%",
                recreateForm:    true,
                // clearAfterAdd:   true,
                // closeAfterAdd:   true,
                addedrow:        "last",
                // afterSubmit:     errTextFormat,
                // errorTextFormat: errTextFormat,
            },
            {   //del
                closeAfterAdd:  true,
            }
            // {
            //     multipleSearch: true,
            //     multipleGroup:  true,
            //     showQuery:      true
            // }
        );

        $(window).bind("resize", function() {
            $("#grid-table").setGridWidth($(window).width()-$("#wrap").width()-100, true);
        }).trigger("resize");

        $("#my-groups").hide();
        $("#grid-table").show();
        $("#grid-table-pager").show();
    }

});

</script>

{{template "footer"}}
{{end}}
