{{define "index"}}

{{template "header"}}

<script type="text/javascript">
    $(document).ready(function(){
        $("ul#navigation li a").click(function() {
            $("ul#navigation li").removeClass("selected");
            $(this).parents().addClass("selected");
            return false;
        });
    });
</script>

<div id="container">

    <div id="wrap">
        <ul id="navigation">
            <li><a href="#" class="active">О системе</a></li>
            <li><a href="#">Вход</a></li>
        </ul>

        <div id="content">
            <div id="tab1">
                <p>
                    <strong>Orc</strong> - web-сервис для учета участников мероприятий.
                </p>
            </div>

            <div id="tab2">
                {{template "login"}}
            </div>
        </div>

        <div id="server-answer"></div>
    </div>

    <p><i>Открытые мероприятия:</i></p>
    <div id="list-events"></div>

</div>

{{template "footer"}}

{{end}}
