{{define "index"}}

{{template "header"}}

<script type="text/javascript">

    function listEvents(data) {

        if (data["result"] !== "ok") {
            $("#server-answer").text(data["result"]).css("color", "red");
            return;
        }

        for (i in data["data"]) {
            var p = $("</p>", {});
            $(p).append($("<a/>", {
                text: data["data"][i]["name"],
                href: "/handler/getrequest/event/" + data["data"][i]["id"],
                class: "events"
            }));
            $(p).appendTo("div#list-events");
        }
    }

    $(document).ready(function(){
        require(["utils"],
        function(utils) {
            utils.postRequest(
                {
                    "table": "events",
                    "fields": ["id", "name"]
                },
                listEvents,
                "/handler/getlist"
            );
        });

    });
</script>

<div id="wrap">
    <div id="content">
        {{template "login"}}
    </div>

    <div id="server-answer"></div>
</div>

<div id="container">
    <div id="list-events"></div>
</div>

{{template "footer"}}

{{end}}
