{{define "item"}}
{{template "header"}}

<!-- Kladr api -->
<link rel="stylesheet"
      href="/css/jquery.kladr.min.css">

<script type="text/javascript"
        src="/js/jquery.kladr.min.js"></script>

<script type="text/javascript"
        src="/js/kladr.js"></script>

<div>
    <div id="now">
        <h4>Текущая анкета</h4>
        <div id="server-answer"></div>
        <form>
            <h1 id="event" href="#events"></h1>
            <div id="events"></div>
            <input type="button" value="сохранить" id="save-btn" name="submit"/>
        </form>
    </div>

    <div id="history">
        <h4>Ранее заполненные анкеты</h4>
        <div id="server-answer"></div>
        <form style="margin-bottom: 115px;">
            <select id="h-events" name="h-events"></select>
            <input type="button" value="выбрать" id="send-btn" name="submit"/>
        </form>
        <div id="h-container"></div>
    </div>
</div>

<script type="text/javascript">
require(["utils", "datepicker"],
function(utils, datepicker) {

    var types = [
        "date",
        "region",
        "district",
        "city",
        "street",
        "building",
        "input",
        "textarea"
    ];

    var D = {{.}};

    var E = D.E;
    var T = D.T;
    var F = D.F;
    var P = D.P;

    var F_ids = [];

    function drawParam(data) {
        var block;

        switch (types[data["type"]]) {
            case "date":
                block = $("<input/>", {
                    id: types[data["type"]],
                    name: data["id"],
                    type: "date"
                });
                break;
            case "region":
                block = $("<input/>", {
                    id: types[data["type"]],
                    name: data["id"],
                    type: "text"
                });
                break;
            case "district":
                block = $("<input/>", {
                    id: types[data["type"]],
                    name: data["id"],
                    type: "text"
                });
                break;
            case "city":
                block = $("<input/>", {
                    id: types[data["type"]],
                    name: data["id"],
                    type: "text"
                });
                break;
            case "street":
                block = $("<input/>", {
                    id: types[data["type"]],
                    name: data["id"],
                    type: "text"
                });
                break;
            case "building":
                block = $("<input/>", {
                    id: types[data["type"]],
                    name: data["id"],
                    type: "text"
                });
                break;
            case "input":
                block = $("<input/>", {
                    id: types[data["type"]],
                    name: data["id"],
                    type: "text"
                });
                break;
            case "textarea":
                block = $("<textarea/>", {
                    id: types[data["type"]],
                    name: data["id"],
                });
                break;
        }
        var lable = $("<label/>", {
            for: data["name"],
            id: "label-" + data["name"],
            text: data["name"]
        });

        var p = $("<p/>", {});

        $(p).append(lable).append(block);
        return p;
    }

    function getFormData(name) {
        var result = $("#" + name + " form").serializeArray();
        return result;
    }

    function pushFormData(E, T, F, P, event_, events_) {
       $("#" + event_).text(E[0]["name"]);

        var div_types = $("<div/>", {id: "event-" + E[0]["id"]});

        var ul_types = $("<ul/>", {});

        $(div_types).append(ul_types);
        $(div_types).appendTo("#" + events_);

        for (var i = 0; i < T.length; ++i) {

            var li_type = $("<li/>", {});
            var a_type = $("<a/>", {href: "#" + "type-" + T[i]["id"]}).text(T[i]["name"]);

            $(li_type).append(a_type);
            $(ul_types).append(li_type);

            var div_tab_type = $("<div/>", {id: "type-" + T[i]["id"]});//div types
            $(div_types).append(div_tab_type);

            var div_forms = $("<div/>", {id: "forms-" + T[i]["id"]});
            $(div_tab_type).append(div_forms);

            for (var j = 0; j < F[i].length; ++j) {
                var a_form = $("<h4/>", {}).text(F[i][j]["name"]);

                F_ids.push("form_id");
                F_ids.push(F[i][j]["id"]);

                var div_tab_form = $("<div/>", {id: "form-" + F[i][j]["id"]/*, class: "br"*/})
                .append(a_form);
                $(div_forms).append(div_tab_form);

                var div_params = $("<div/>", {id: "params-" + T[i]["id"]});
                $(div_tab_form).append(div_params);

                for (var k = 0; k < P[i][j].length; k++) {
                    $(div_params).append(drawParam(P[i][j][k]));
                }
            }
        }
        $("#" + "event-" + E[0]["id"]).tabs();
    }

    function getListHistoryEvents() {
        utils.postRequest(
            {
                "form_ids": F_ids,
            },
            function(data) {
                if (!data) {
                    $("#server-answer").text("Данные отсутствуют");
                } else {
                    for (var i = 0; i < data.length; ++i) {
                        $("#h-events").append($("<option></option>")
                            .attr("value", data[i]["event_id"])
                            .text(data[i]["name"])
                        );
                    }
                }
            },
            "/handler/getlisthistoryevents"
        );
    }

    pushFormData(E, T, F, P, "event", "events");
    getListHistoryEvents();

    kladr();
    datepicker();

    $("#save-btn").click(function() {
        utils.postRequest(
            {
                "event_id": E[0]["id"],
                "data": getFormData("now")
            },
            function(data) {
                $("#now form").css("visibility", "hidden");
                if (data["result"] == "ok") {
                    $("#now #server-answer").text("Анкета отправлена.").css("color", "green");
                } else if (data["result"] == "exists") {
                    $("#server-answer").text("Анкета для участия в этом мероприятии уже была заполнена.").css("color", "red");
                }
            },
            "/handler/saveuserrequest"
        );
    });

    $("#send-btn").click(function() {
        utils.postRequest(
            {
                "event_id": $("#h-events").find(":selected").attr("value")
            },
            function(data) {
                $("#h-container").empty();
                $("#export-btn").remove();
                for (var i = 0; i < data.length; ++i) {
                    var obj = $("#h-form-" + data[i]["form_id"]);
                    if ($.inArray(parseInt(data[i]["form_id"]), F_ids) > -1 && obj.length <= 0) {
                        var h4_form = $("<h4/>", {}).text(data[i]["form_name"]);
                        var div_form = $("<div/>", {id: "h-form-" + data[i]["form_id"]}).append(h4_form);
                        $("#h-container").append(div_form);
                    }
                    $("#h-form-" + data[i]["form_id"]).append(drawParam(
                        {"id":data[i]["param_id"], "type":data[i]["type"], "name":data[i]["param_name"]}
                    ));
                    $('#history [name="' + data[i]["param_id"] + '"]').val(data[i]["value"]);
                }

                $("<input/>", {
                    id: "export-btn",
                    name: "submit",
                    type: "button",
                    value: "Экспорт",
                }).appendTo("#history");

                $("#export-btn").click(function() {
                    for (var i = 0; i < data.length; ++i) {
                        $('#now [name="' + data[i]["param_id"] + '"]').val(data[i]["value"]);
                    }
                });
            },
            "/handler/gethistoryrequest"
        );
    });
});
</script>

{{template "footer"}}
{{end}}
