{{define "item"}}
{{template "header"}}

<!-- Kladr api -->
<link rel="stylesheet"
      href="/css/jquery.kladr.min.css">

<script type="text/javascript"
        src="/js/jquery.kladr.min.js"></script>

<script type="text/javascript"
        src="/js/kladr.js"></script>

<div>
    <div id="history">
        <h5>Ранее заполненные анкеты</h5>
        <div id="server-answer"></div>
        <form>
            <select id="h-events" name="h-events"></select>
            <input type="button" value="выбрать" id="send-btn" name="submit"/>
        </form>
    </div>

    <div id="now">
        <div id="server-answer"></div>
        <form>
            <h1 id="event" href="#events"></h1>
            <div id="events"></div>
            <input type="button" value="сохранить" id="save-btn" name="submit"/>
        </form>
    </div>
</div>

<script type="text/javascript">
require(["utils", "datepicker"],
function(utils, datepicker) {
    var D = {{.}};

    var E = D.E;
    var T = D.T;
    var F = D.F;
    var P = D.P;

    var F_ids = [];

    function drawParam(data, event_type_id, for_saving) {
        var block;

        if (data["type"] === "region"
            || data["type"] === "district"
            || data["type"] === "city"
            || data["type"] === "street"
            || data["type"] === "building"
            || data["type"] === "input") {
            block = $("<input/>", {type: "text"});
            block.attr("id", data["id"]);
            block.attr("event_type_id", event_type_id);
            block.val(data["value"]);
            block.attr("for-saving", for_saving);

        } else if (data["type"] === "textarea") {
            block = $("<textarea/>", {});
            block.attr("id", data["id"]);
            block.attr("event_type_id", event_type_id);
            block.val(data["value"]);
            block.attr("for-saving", for_saving);

        } else if (data["type"] === "date") {
            block = $("<input/>", {type: "date"});
            block.attr("id", data["id"]);
            block.attr("event_type_id", event_type_id);
            block.attr("for-saving", for_saving);
            block.val(data["value"]);
            datepicker.initDatePicker(block);
        }

        //block.val(data["value"]);

        var lable = $("<label/>", {
            text: data["name"]
        });

        return $("<p/>").append(lable).append(block);
    }

    function getFormData(name) {
        var values = [];

        var $inputs = $("#now form #events :input[for-saving=true]");
        $inputs.each(function() {
            values.push({
                "value": $(this).val(),
                "id": $(this).attr("id"),
                "event_type_id": $(this).attr("event_type_id"),
            });
        });

        var $textareas = $("#now form textarea[for-saving=true]");
        $textareas.each(function() {
            values.push({
                "value": $(this).val(),
                "id": $(this).attr("id"),
                "event_type_id": $(this).attr("event_type_id"),
            });
        });

        return values;
    }

    function pushFormData(E, T, F, P, event_, events_) {
       $("#" + event_).text(E[0]["name"]);

        var div_types = $("<div/>", {id: "event-" + E[0]["id"]});

        var ul_types = $("<ul/>", {});

        $(div_types).append(ul_types);
        $(div_types).appendTo("#" + events_);

        for (var i = 0; i < T.length; ++i) {

            var li_type = $("<li/>", {});
            var a_type = $("<a/>", {href: "#" + "type-" + T[i]["id"]}).text(T[i]["name"]);

            $(li_type).append(a_type);
            $(ul_types).append(li_type);

            var div_tab_type = $("<div/>", {id: "type-" + T[i]["id"]});//div types
            $(div_types).append(div_tab_type);

            var div_forms = $("<div/>", {id: "forms-" + T[i]["id"]});
            $(div_tab_type).append(div_forms);

            for (var j = 0; j < F[i].length; ++j) {
                var a_form = $("<h4/>", {}).text(F[i][j]["name"]);

                F_ids.push("form_id");
                F_ids.push(F[i][j]["id"]);

                var div_tab_form = $("<div/>", {id: "form-" + F[i][j]["id"]})
                    .append(a_form);
                $(div_forms).append(div_tab_form);

                var div_params = $("<div/>", {id: "params-" + T[i]["id"]});
                $(div_tab_form).append(div_params);

                var table = $("<table/>");
                div_params.append(table);

                for (var k = 0; k < P[i][j].length; k++) {
                    var tr = $("<tr/>").appendTo(table);
                    var td_1 = $("<td/>").appendTo(tr);
                    $(td_1).append(drawParam(P[i][j][k], T[i]["id"], true));
                    tr.append($("<td/>", {id: "export-param-"+P[i][j][k]["id"]}));
                    tr.append($("<td/>", {id: "export-val-"+P[i][j][k]["id"]}));
                }
            }
        }
        $("#" + "event-" + E[0]["id"]).tabs();
    }

    function getListHistoryEvents() {
        utils.postRequest(
            {
                "form_ids": F_ids,
            },
            function(data) {
                if (!data) {
                    $("#server-answer").text("Данные отсутствуют");
                } else {
                    for (var i = 0; i < data.length; ++i) {
                        $("#h-events").append($("<option></option>")
                            .attr("value", data[i]["id"])
                            .text(data[i]["name"])
                        );
                    }
                }
            },
            "/handler/getlisthistoryevents"
        );
    }

    pushFormData(E, T, F, P, "event", "events");
    getListHistoryEvents();
    kladr();

    $("#save-btn").click(function() {
        utils.postRequest(
            {
                "event_id": E[0]["id"],
                "data": getFormData("now")
            },
            function(data) {
                $("#now form").css("visibility", "hidden");
                if (data["result"] == "ok") {
                    $("#now #server-answer").text("Анкета отправлена.").css("color", "green");
                } else if (data["result"] == "exists") {
                    $("#server-answer").text("Анкета для участия в этом мероприятии уже была заполнена.").css("color", "red");
                }
            },
            "/handler/saveuserrequest"
        );
    });

    $("#send-btn").click(function() {
        utils.postRequest(
            {
                "event_id": $("#h-events").find(":selected").attr("value")
            },
            function(data) {
                for (var i = 0; i < data.length; ++i) {

                    var e_t_id = data[i]["event_type_id"];
                    var p_id = data[i]["param_id"];
                    var p_v = data[i]["value"];

                    $("#forms-"+e_t_id +" table #export-param-"+p_id+" input").remove();
                    $("#forms-"+e_t_id +" table #export-val-"+p_id+" p").remove();
                    $("#forms-"+e_t_id +" table #export-val-"+p_id).append(drawParam(data[i], 0, false));

                    $("<input/>", {
                        "id": "export-btn-"+e_t_id+"-"+p_id,
                        "type": "button",
                        "value": "экспорт",
                        "data-event-type-id": e_t_id,
                        "data-param-id": p_id,
                        "data-param-val": p_v,
                    }).appendTo("#forms-"+e_t_id+" table #export-param-"+p_id);

                    $("#export-btn-"+e_t_id+"-"+p_id).click(function() {
                        var e_t_id = $(this).attr("data-event-type-id");
                        var p_id = $(this).attr("data-param-id");
                        var p_v = $(this).attr("data-param-val");
                        $("#forms-"+e_t_id+" table #"+p_id).val(p_v);
                    });
                }
            },
            "/handler/gethistoryrequest"
        );
    });
});
</script>

{{template "footer"}}
{{end}}
