{{ define "list" }}

{{template "header"}}

<div id="container">
    <div id="list"></div>
</div>

<script type="text/javascript">
require(["jquery"], function($) {
$(document).ready(function() {
    var table = $("<table/>", {style: "border: 1px solid #4c9ac3; color: black;"});
    var data = {{.}};
    console.log("list: ", data);

    if (data.length < 2) {
        $("#list").text("Нет записей.");
        return;
    }

    for (i = 0; i < data.length; ++i) {
        var tr = $("<tr/>");
        for (j = 0; j < data[0]["data"].length; ++j) {
            var td = data[0]["data"].length == 1
                ? $("<td/>", {style: "border: 1px solid #4c9ac3;"}).text(data[i]["data"])
                : $("<td/>", {style: "border: 1px solid #4c9ac3;"}).text(data[i]["data"][j]);
            tr.append(td);
        }
        table.append(tr);
    }

    $("#list").append(table);
});
});
</script>

{{template "footer"}}

{{ end }}
