{{define "search"}}
{{template "header"}}

<div id="container">
    <p>
        <div hidden="true" id="dialog-person-request" title="Анкета"></div>
    </p>

    <p>
        <table id="params-table"></table>
        <div id="params-table-pager"></div>
    </p>

    <p>
        <table id="faces-table"></table>
        <div id="faces-table-pager"></div>
    </p>

    <div id="error"></div>
</div>

<script type="text/javascript">
require(["jquery", "grid_lib", "blank", "jqGrid"],
function($, gridLib, blank) {
    var serverData = {{.}};

    var filter = {};

    $("#params-table").jqGrid({
        url: "/gridcontroller/load/" + serverData.params.TableName,
        mtype: "POST",
        treeGrid: false,
        colNames: serverData.params.ColNames,
        colModel: gridLib.SetPrimitive(serverData.params.ColModel),
        pager: "#params-table-pager",
        gridview: true,
        viewrecords: true,
        height: "100%",
        width: "auto",
        rowNum: 5,
        rownumbers: true,
        rownumWidth: 20,
        rowList: [5, 10, 20, 50],
        caption: serverData.params.Caption,
        sortname: "id",
        sortorder: "asc",
        multiselect: true,
        loadComplete: function() {
            $("#faces-table").trigger('reloadGrid');
        },
        beforeRequest: function() {
            filter = $("#params-table").getGridParam("postData").filters;
        }
    });

    $("#params-table").navGrid(
        "#params-table-pager",
        {   // buttons
            edit: false,
            add: false,
            del: false,
            refresh: false,
            view: false,
            search: true
        }, {}, {}, {},
        {   // search
            multipleGroup: true,
            closeOnEscape: true,
            multipleSearch: true,
            closeAfterSearch: true,
            showQuery: true,
        });

    $(window).bind("resize", function() {
        $("#params-table").setGridWidth($(window).width()-50, true);
    }).trigger("resize");

    $("#faces-table").jqGrid({
        url: "/gridcontroller/load/search",
        mtype: "POST",
        treeGrid: false,
        colNames: serverData.faces.ColNames,
        colModel: gridLib.SetPrimitive(serverData.faces.ColModel),
        pager: "#faces-table-pager",
        gridview: true,
        viewrecords: true,
        height: "100%",
        width: "auto",
        rowNum: 5,
        rownumbers: true,
        rownumWidth: 20,
        rowList: [5, 10, 20, 50],
        caption: serverData.faces.Caption,
        sortname: "id",
        sortorder: "asc",
        multiselect: true,
        beforeRequest: function() {
            $("#faces-table").setGridParam({ postData: {
                "filters": filter ? filter : null,
            } });
        },
        subGrid: serverData.faces.Sub,
        subGridOptions: {
            "plusicon": "ui-icon-triangle-1-e",
            "minusicon": "ui-icon-triangle-1-s",
            "openicon": "ui-icon-arrowreturn-1-e",
            "reloadOnExpand": true,
            "selectOnExpand": true
        },
        subGridRowExpanded: function(subgrid_id, row_id) {
            $("#" + subgrid_id).append("<table id='" + subgrid_id + "_t" + "' class='scroll'></table>"
                + "<div id='" + subgrid_id + "_p" + "' class='scroll'></div></br>");

            var user_id = $("#faces-table").jqGrid("getCell", row_id, "user_id");

            $("#" + subgrid_id + "_t").jqGrid({
                url: "/handler/"+serverData.faces.SubTableName.replace(/_/g, "")+"load/"+user_id,
                mtype: "POST",
                colNames: serverData.faces.SubColNames,
                colModel: gridLib.SetPrimitive(serverData.faces.SubColModel),
                rowNum: 5,
                rowList: [5, 10, 20, 50],
                pager: "#" + subgrid_id + "_p",
                caption: serverData.faces.SubCaption,
                sortname: "num",
                sortorder: "asc",
                height: "100%",
                width: $("#faces-table").width()-65,
                editurl: "/gridcontroller/editgridrow/"+serverData.faces.SubTableName,
                multiselect: true
            });

            $("#"+subgrid_id + "_t").navGrid(
                "#"+subgrid_id + "_p",
                {
                    edit: false,
                    add: false,
                    del: false,
                    refresh: false,
                    view: false,
                    search: false
                }
            );

            $("#"+subgrid_id + "_t").jqGrid(
                "navButtonAdd",
                "#"+subgrid_id + "_p",
                {
                    caption: "", buttonicon: "ui-icon-script", title: "Анкета",
                    onClickButton: function() {
                        var id = gridLib.getCurrRowId(subgrid_id + "_t");
                        if (id == -1) return false;
                        blank.showPersonBlank("dialog-person-request", id);
                    }
                }
            );

            $("#"+subgrid_id + "_t").jqGrid("hideCol", ["face_id"]);
        }
    });

    $("#faces-table").navGrid(
        "#faces-table-pager",
        {   // buttons
            edit: false,
            add: false,
            del: false,
            refresh: true,
            view: false,
            search: false
    });

    $(window).bind("resize", function() {
        $("#faces-table").setGridWidth($(window).width()-50, true);
    }).trigger("resize");

});
</script>

{{template "footer"}}
{{end}}
