{{define "table"}}
{{template "header"}}

<link rel="stylesheet"
      href="/css/jquery.kladr.min.css">

<script type="text/javascript"
        src="/js/kladr/jquery.kladr.min.js"></script>

<div id="container">
    <table id="grid-table"></table>
    <div id="grid-table-pager"></div>

    <div style="display:none;" id="dialog-reset-pass" title="Смена пароля">
        <form>
            <label for="password-1">Пароль</label><br/>
            <input type="password" id="password-1" name="password-1"/><br/>
            <label for="password-2">Потвердите пароль</label><br/>
            <input type="password" id="password-2" name="password-2"/><br/>
        </form>
    </div>

    <div style="display:none;" id="dialog-import-forms" title="Импорт форм">
        <select multiple="multiple" size="5"></select>
    </div>

    <div style="display:none;" id="dialog-params" title="Параметры"></div>

    <div style="display:none;" id="dialog-reg-group" title="Регистрация группы"></div>

    <div style="display:none;" id="dialog-persons-request" title="Анкета участника"></div>

    <div style="display:none;" id="dialog-group-person-request" title="Анкета участника"></div>

    <div id="error"></div>
    <div id="msg"></div>
</div>

<script type="text/javascript">
require(["utils", "custom-grid", "grid-utils", "reset-pass", "import-forms", "list-of-persons", "blank", "reg-group"],
function(reqUtils, grid, utils, resetPass, importForms, list, blank, regGroup) {

    var refFields = {{.RefFields}};
    var refData   = {};
    var colModel_ = [];

    {{with .RefData}}
        {{range $index, $elmt := .}}
            refData[{{$index}}] = [];
            {{range $i, $v := $elmt}}
                refData[{{$index}}][{{$i}}] = {};
                {{range $j, $k := $v}}
                    refData[{{$index}}][{{$i}}][{{$j}}] = {{$k}};
                {{end}}
            {{end}}
        {{end}}
    {{end}}

    {{with .Columns}}
        {{range $i, $v := .}}
            colModel_.push(grid.GetColModelItem(refData, refFields, {{$v}}))
        {{end}}
    {{end}}

    console.log("refData");
    console.log(refData);
    console.log("colModel");
    console.log(colModel_);

    $("#grid-table").jqGrid({
        url:           "/gridhandler/load/" + {{.TableName}},
        datatype:      "json",
        mtype:         "POST",
        treeGrid:      false,
        colNames:      {{.ColNames}},
        colModel:      colModel_,
        pager:         "#grid-table-pager",
        gridview:      true,
        viewrecords:   true,
        height:        "100%",
        width:         "auto",
        rowNum:        5,
        rownumbers:    true,
        rownumWidth:   20,
        rowList:       [5, 10, 20, 50],
        caption:       {{.Caption}},
        sortname:      "id",
        sortorder:     "asc",
        multiselect:   true,
        editurl:       "/gridhandler/editgridrow/" + {{.TableName}},
        loadError: function (jqXHR, textStatus, errorThrown) {
            alert('HTTP status code: ' + jqXHR.status + '\n'
                + 'textStatus: ' + textStatus + '\n'
                + 'errorThrown: ' + errorThrown);
            alert('HTTP message body (jqXHR.responseText): ' + '\n' + jqXHR.responseText);
        },

        subGrid:            {{.Sub}},
        subGridOptions:     {
                                "plusicon": "ui-icon-triangle-1-e",
                                "minusicon": "ui-icon-triangle-1-s",
                                "openicon": "ui-icon-arrowreturn-1-e",
                                "reloadOnExpand": true,
                                "selectOnExpand": true
                            },
        subGridRowExpanded: function(subgrid_id, row_id) {
                                grid.AddSubTable(subgrid_id, row_id, "0", {{.TableName}}, "grid-table");
                            }
    });

    $("#grid-table").navGrid(
        "#grid-table-pager",
        {   // buttons
            edit:    true,
            add:     {{.TableName}} == "users" ? false : true,
            del:     true,
            refresh: false,
            view:    false,
            search:  true
        },
        {   // edit
            width:           "100%",
            recreateForm:    true,
            afterSubmit:     function(data) { return utils.errTextFormat(data, "grid-table"); },
            errorTextFormat: function(data) { return utils.errTextFormat(data, "grid-table"); },
            beforeShowForm:  function() {
                if ({{.TableName}} == "registrations") {
                    var id = utils.getCurrRowId("grid-table");
                    var event_id = $("#grid-table").jqGrid("getCell", id, "event_id");
                    if (event_id == 1) {
                        return;
                    }
                    $('<a href="#">Подтвердить регистрацию<span class="ui-icon ui-icon-mail-closed"></span></a>')
                    .click(function() { utils.ConfirmOrRejectPersonRequest("grid-table", true); })
                    .addClass("fm-button ui-state-default ui-corner-all fm-button-icon-left")
                    .prependTo("#Act_Buttons>td.EditButton");

                    $('<a href="#">Отклонить регистрацию<span class="ui-icon ui-icon-mail-closed"></span></a>')
                    .click(function() { utils.ConfirmOrRejectPersonRequest("grid-table", false); })
                    .addClass("fm-button ui-state-default ui-corner-all fm-button-icon-left")
                    .prependTo("#Act_Buttons>td.EditButton");
                }
            }
        },
        {   // add
            width:           "100%",
            recreateForm:    true,
            addedrow:        "last",
            afterSubmit:     function(data) { return utils.errTextFormat(data, "grid-table"); },
            errorTextFormat: function(data) { return utils.errTextFormat(data, "grid-table"); },
        },
        {   // del
            closeAfterAdd:  true,
        },
        {   // search
            // multipleGroup: true,
            closeOnEscape: true,
            multipleSearch: true,
            closeAfterSearch: true
        }
    );

    $("#grid-table").jqGrid(
        "navButtonAdd",
        "#grid-table-pager",
        {
            caption: "", buttonicon: "ui-icon-print", title: "Скачать данные из таблицы",
            onClickButton: function() {
                var columns = $("#grid-table").getGridParam("colModel");
                var fields = [];
                for (i = 0; i < columns.length; ++i) {
                    if (columns[i].hidden == false && columns[i].index != undefined) {
                        fields.push(columns[i].index)
                    }
                }
                var filters = $("#grid-table").getGridParam("postData").filters;
                var sord = $("#grid-table").getGridParam("postData").sord;
                var sidx = $("#grid-table").getGridParam("postData").sidx;
                var data = { "filters": filters ? JSON.parse(filters) : null, "sord": sord, "sidx": sidx, "fields": fields };
                console.log("Download params: ", data);

                $.ajax({
                    method: "post",
                    type: "post",
                    url: "/gridhandler/jsontoexcel/" + {{.TableName}},
                    async: false,
                    data: JSON.stringify(data),
                    ContentType: "charset=utf-8",
                    success: function(response) {
                        console.log(response);
                        var data = response;
                        // document.location = "data:application/octet-stream;filename=data.csv," + encodeURIComponent(data);

                        var link = document.createElement("a");
                        link.download = {{.TableName}}+".csv";
                        link.href = "data:application/csv;charset=utf-8," + encodeURIComponent(data);
                        link.click();
                        delete link;
                    },
                    error: function(ajaxRequest, ajaxOptions, thrownError) {
                        console.log(thrownError);
                        console.log(ajaxOptions);
                        console.log(ajaxRequest);
                        alert(ajaxRequest["responseText"]);
                    }
                });
            }
        }
    );

    $("#grid-table").jqGrid (
        "navButtonAdd",
        "#grid-table-pager",
        {
            caption: "", buttonicon: "ui-icon-calculator", title: "Выбрать столбцы",
            onClickButton: function() {
                $("#grid-table").jqGrid(
                    "columnChooser",
                    {
                        done: function(perm) {
                            if (perm) {
                                $("#grid-table").jqGrid("remapColumns", perm, true);
                                $(window).bind("resize", function() {
                                    $("#grid-table").setGridWidth($(window).width()-50, true);
                                }).trigger("resize");

                            }
                        }
                    }
                );
            }
        }
    );

    if ({{.TableName}} == "users") {
        $("#grid-table").jqGrid(
            "navButtonAdd",
            "#grid-table-pager",
            {
                caption: "", buttonicon: "ui-icon-key", title: "Сменить пароль",
                onClickButton: function() { resetPass.ResetPassword("dialog-reset-pass", "grid-table", "password-1", "password-2"); }
            }
        );

        $("#grid-table").jqGrid(
            "navButtonAdd",
            "#grid-table-pager",
            {
                caption: "", buttonicon: "ui-icon-person", title: "Войти под пользователем",
                onClickButton: function() { reqUtils.login("grid-table"); }
            }
        );

        $("#grid-table").jqGrid(
            "navButtonAdd",
            "#grid-table-pager",
            {
                caption: "", buttonicon: "ui-icon-mail-closed", title: "Пригласить к пользованию аккаунта",
                onClickButton: function() { reqUtils.sendEmailWellcomeToProfile("grid-table", $("#msg")); }
            }
        );

    } else if ({{.TableName}} == "events") {
        $("#grid-table").jqGrid(
            "navButtonAdd",
            "#grid-table-pager",
            {
                caption: "", buttonicon: "ui-icon-pin-s", title: "Прикрепить формы",
                onClickButton: function() { importForms.ImportForms("dialog-import-forms", "grid-table"); }
            }
        );

        $("#grid-table").jqGrid(
            "navButtonAdd",
            "#grid-table-pager",
            {
                caption: "", buttonicon: "ui-icon-person", title: "Список участников",
                onClickButton: function() { list.GetPersons("dialog-params", "grid-table"); }
            }
        );

    } else if ({{.TableName}} == "registrations") {
        $("#grid-table").jqGrid(
            "navButtonAdd",
            "#grid-table-pager",
            {
                caption: "", buttonicon: "ui-icon-contact", title: "Анкета участника",
                onClickButton: function() { blank.ShowPersonBlank("dialog-persons-request", "grid-table"); }
            }
        );

    } else if ({{.TableName}} == "groups") {
        $("#grid-table").jqGrid(
            "navButtonAdd",
            "#grid-table-pager",
            {
                caption: "", buttonicon: "ui-icon-script", title: "Регистрация группы",
                onClickButton: function() { regGroup.Registration("dialog-reg-group", "grid-table"); }
            }
        );
    }

    $("#grid-table").jqGrid(
        "filterToolbar",
        {
            stringResult:  true,
            searchOnEnter: false,
            defaultSearch: "cn"
        }
    );

    $(window).bind("resize", function() {
        $("#grid-table").setGridWidth($(window).width()-50, true);
    }).trigger("resize");

});
</script>

{{template "footer"}}
{{end}}
