{{define "table"}}
{{template "header"}}

<div id="container">
    <table id="grid-table"></table>
    <div id="grid-table-pager"></div>

    <div style="display:none;" id="dialog-confirm" title="Смена пароля">
        <form>
            <label for="password-1">Пароль</label><br/>
            <input type="password" id="password-1" name="password-1"/><br/>
            <label for="password-2">Потвердите пароль</label><br/>
            <input type="password" id="password-2" name="password-2"/><br/>
        </form>
    </div>

    <div style="display:none;" id="dialog-confirm-import" title="Импорт форм">
        <select multiple="multiple" size="5"></select>
    </div>

    <div id="error"></div>
</div>

<script type="text/javascript">
require(["custom-grid"],
function(grid) {

    $("#logout-btn, #cabinet-btn").css("visibility", "visible");

    var sameDate  = ["date_start", "date_finish", "reg_date", "last_date"];
    var refFields = {{.RefFields}};
    var refData   = {};
    var colModel_ = [];

    {{with .RefData}}
        {{range $index, $elmt := .}}
            refData[{{$index}}] = [];
            {{range $i, $v := $elmt}}
                refData[{{$index}}][{{$i}}] = {};
                {{range $j, $k := $v}}
                    refData[{{$index}}][{{$i}}][{{$j}}] = {{$k}};
                {{end}}
            {{end}}
        {{end}}
    {{end}}

    {{with .Columns}}
        {{range $i, $v := .}}
            colModel_.push(grid.GetColModelItem(refData, refFields, {{$v}}))
        {{end}}
    {{end}}

    console.log("refData");
    console.log(refData);
    console.log("colModel");
    console.log(colModel_);

    $(document).ready(function() {

        var errTextFormat = function(data) {
            var prompt, errMsg, noErr;

            switch (data.status) {
            case 200:
                noErr = true;
                prompt = "Запрос успешно выполнен";
                errMsg = "";
                break;

            case 304:
                noErr = false;
                prompt = "Используйте другое значение";
                errMsg = "Нарушение ограничения уникальности";
                break;

            case 401:
                noErr = false;
                prompt = "Войдите на сайт";
                errMsg = "Ошибка авторизации";
                break;
            }

            var myInfo = '<div class="ui-state-highlight ui-corner-all">'
                             + '<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>'
                             + '<strong>'+ prompt + '</strong><br/>' + '</div>';
            var infoTR = $("table#TblGrid_"+$("#grid-table")[0].id+">tbody>tr.tinfo");
            var infoTD = infoTR.children("td.topinfo");

            infoTD.html(myInfo);
            infoTR.show();

            setTimeout(function() {
                infoTD.children("div").fadeOut('slow',
                    function() {
                      infoTR.hide();
                 });
            }, 3000);

            return [noErr, errMsg];
        };

        $("#grid-table").jqGrid({
            url:           "/gridhandler/load/" + {{.TableName}},
            datatype:      "json",
            mtype:         "POST",
            treeGrid:      false,
            colNames:      {{.ColNames}},
            colModel:      colModel_,
            pager:         "#grid-table-pager",
            gridview:      true,
            sortname:      "id",
            viewrecords:   true,
            height:        "100%",
            width:         "auto",
            rowNum:        5,
            rownumbers:    true,
            rownumWidth:   20,
            rowList:       [5, 10, 20, 50],
            caption:       {{.Caption}},
            sortname:      "id",
            sortorder:     "asc",
            multiselect:   true,
            editurl:       "/gridhandler/edit/" + {{.TableName}},
            loadError: function (jqXHR, textStatus, errorThrown) {
                alert('HTTP status code: ' + jqXHR.status + '\n'
                    + 'textStatus: ' + textStatus + '\n'
                    + 'errorThrown: ' + errorThrown);
                alert('HTTP message body (jqXHR.responseText): ' + '\n' + jqXHR.responseText);
            },

            subGrid:            {{.Sub}},
            subGridOptions:     {
                                    "plusicon": "ui-icon-triangle-1-e",
                                    "minusicon": "ui-icon-triangle-1-s",
                                    "openicon": "ui-icon-arrowreturn-1-e",
                                    "reloadOnExpand": true,
                                    "selectOnExpand": true
                                },
            subGridRowExpanded: function(subgrid_id, row_id) {
                                    grid.AddSubTable(subgrid_id, row_id, "0", subgrid_id + "_t", "p_" + subgrid_id + "_t", {{.TableName}});
                                    if ({{.TableName}} == "event_types") {
                                        grid.AddSubTable(subgrid_id, row_id, "1", subgrid_id + "_tt", "pp_" + subgrid_id + "_tt", {{.TableName}});
                                    }
                                }
        });

        $("#grid-table").navGrid(
            "#grid-table-pager",
            {   //buttons
                edit:    true,
                add:     {{.TableName}} == "users" ? false : true,
                del:     true,
                refresh: false,
                view:    false,
                search:  false
            },
            {   //edit
                width:           "100%",
                recreateForm:    true,
                closeAfterEdit:  true,
                afterSubmit:     errTextFormat,
                errorTextFormat: errTextFormat,
            },
            {   //add
                width:           "100%",
                recreateForm:    true,
                // clearAfterAdd:   true,
                // closeAfterAdd:   true,
                addedrow:        "last",
                afterSubmit:     errTextFormat,
                errorTextFormat: errTextFormat,
            },
            {   //del
                closeAfterAdd:  true,
            }
        );

/*        $("#grid-table").jqGrid (
            "navButtonAdd",
            "#grid-table-pager",
            {
                caption: "", buttonicon: "ui-icon-calculator", title: "Выбор колонк",
                onClickButton: function() {
                    $("#grid-table").jqGrid("columnChooser", {
                        done: function(perm) {
                            $("#grid-table").trigger("resize");
                            if (perm) {
                                $("#grid-table").jqGrid("remapColumns", perm, true);
                            }
                        }
                    });
                }
            }
        );
*/
        if ({{.TableName}} == "users") {
            $("#grid-table").jqGrid(
                "navButtonAdd",
                "#grid-table-pager",
                {
                    caption: "", buttonicon: "ui-icon-key", title: "Сменить пароля",
                    onClickButton: grid.ResetPassword
                }
            );
        } else if ({{.TableName}} == "events") {
            $("#grid-table").jqGrid(
                "navButtonAdd",
                "#grid-table-pager",
                {
                    caption: "", buttonicon: "ui-icon-pin-s", title: "Прикрепить формы",
                    onClickButton: grid.ImportForms
                }
            );
        }

        $("#grid-table").jqGrid(
            "filterToolbar",
            {
                stringResult:  true,
                searchOnEnter: false,
                defaultSearch: "cn"
            }
        );

        $(window).bind("resize", function() {
            $("#grid-table").setGridWidth($(window).width()-50, true);
        }).trigger("resize");

    });
})
</script>

{{template "footer"}}
{{end}}
