{{define "user"}}
{{template "header"}}

<div id="container">

    <div class="left">
        Личный кабинет
    </div></br>

    <div id="cabinet">
        <div hidden="true" id="dialog-reg-group" title="Регистрация группы"></div>
        <div hidden="true" id="dialog-person-request" title="Анкета"></div>
        <div hidden="true" id="dialog-group-person-request" title="Анкета"></div>
        <div hidden="true" id="dialog-group-request" title="Анкета группы"></div>
        <div hidden="true" id="dialog-add-person" title="Добавить участника"></div>
        <div id="error"></div>
        {{with index .userData 0}}
            Логин: {{.login}}<br>
            {{.name}}: {{.value}}
        {{end}}

        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Группы</a></li>
                <li><a href="#tabs-2">Индивидуальные регистрации</a></li>
                <li><a href="#tabs-3">Регистрации групп</a></li>
                <li><a href="#tabs-4">Регистрации команд</a></li>
                <li><a href="#tabs-5">Смена пароля</a></li>
            </ul>

            <div id="tabs-1">
                <p>
                    <table id="my-group-table"></table>
                    <div id="my-group-table-pager"></div>
                </p>
                <p>
                    <table id="group-table"></table>
                    <div id="group-table-pager"></div>
                </p>
            </div>
            <div id="tabs-2">
                <p>
                    <table id="reg-table"></table>
                    <div id="reg-table-pager"></div>
                </p>
            </div>

            <div id="tabs-3">
                <p>
                    <table id="groupreg-table"></table>
                    <div id="groupreg-table-pager"></div>
                </p>
            </div>

            <div id="tabs-4">
                <p>
                    <table id="my-teams-table"></table>
                    <div id="my-teams-table-pager"></div>
                </p>
                <p>
                    <table id="teams-table"></table>
                    <div id="teams-table-pager"></div>
                </p>
            </div>

            <div id="tabs-5">
                <div id="dialog-reset-pass" style="width:200px;">
                    <form>
                        <p>
                            <label for="password-1">Пароль</label>
                            <input type="password" id="password-1" name="password-1"/>
                        </p>
                        <p>
                            <label for="password-2">Потвердите пароль</label>
                            <input type="password" id="password-2" name="password-2"/>
                        </p>
                        <p><input type="button" id="reset-btn" value="сохранить"/></p>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
require(["jquery", "grid_lib", "group_lib", "blank", "user_lib", "utils", "jqGrid"],
function($, gridLib, groupLib, blank, userLib, utils) {

    function updateJqGridWidths() {
        $(".ui-jqgrid-btable").each(function(id, elem){
            var $elem = $(elem);
            var $uiJqgrid = $elem.parents('.ui-jqgrid').first();
            $elem.setGridWidth($uiJqgrid.parent().width() - ($uiJqgrid.outerWidth(true) - $uiJqgrid.width()));
        });
    }

    $("#tabs").tabs({
        activate: updateJqGridWidths
    });

    var valid = false;
    var serverData = {{.}};

    $("#password-1").blur(function() {
        var pattern = /^.{6,36}$/;
        if (!pattern.test($(this).val())) {
            valid = false;
            $(this).css({"border": "2px solid red"});
            gridLib.showServerPromtInDialog( $(this).parent(), "Пароль должен иметь длину от 6 до 36 символов.");

        } else {
            valid = true;
            $(this).css({"border": "2px solid green"});
        }
    });

    $("#password-2").blur(function() {
        var pattern = /^.{6,36}$/;

        if (!pattern.test($(this).val())) {
            valid = false;
            $(this).css({"border": "2px solid red"});
            gridLib.showServerPromtInDialog( $(this).parent(), "Пароль должен иметь длину от 6 до 36 символов.");
            return;
        }

        if ($(this).val() !== $("#password-1").val()) {
            valid = false;
            $(this).css({"border": "2px solid red"});
            gridLib.showServerPromtInDialog( $(this).parent(), "Пароли не совпадают.");
            return;
        }

        valid = true;
        $(this).css({"border": "2px solid green"});
    });

    $("#reset-btn").click(function() {
        if (!valid) {
            $("#error").text("Проверьте данные о логине и пароле.").css("color", "red");
            return;
        }

        var result = userLib.CheckPass("password-1", "password-2");
        if (!result.result) {
            gridLib.showErrorMsg(result.msg);
            return false;
        }

        utils.postRequest(
            { "pass": $("#password-1").val() },
            function(data) { gridLib.showServerPromtInDialog($("#dialog-reset-pass"), data["result"]); },
            "/usercontroller/resetpassword"
        );
    })

    $.extend($.jgrid.defaults, {
        mtype: "POST",
        height: "100%",
        shrinkToFit: true,
        sortname: "id",
        sortorder: "asc"
    });

    $("#my-group-table").jqGrid({
        url: "/handler/usergroupsload",
        treeGrid: false,
        colNames: serverData.group.ColNames,
        colModel: gridLib.SetPrimitive(serverData.group.ColModel),
        pager: "#my-group-table-pager",
        gridview: true,
        viewrecords: true,
        rowNum: 5,
        rownumbers: true,
        rownumWidth: 20,
        rowList: [5, 10, 20, 50],
        caption: "Мои группы",
        editurl: "/gridcontroller/editgridrow/" + serverData.group.TableName,

        subGrid: serverData.group.Sub,
        subGridOptions: {
            "plusicon": "ui-icon-triangle-1-e",
            "minusicon": "ui-icon-triangle-1-s",
            "openicon": "ui-icon-arrowreturn-1-e",
            "reloadOnExpand": true,
            "selectOnExpand": true
        },
        subGridRowExpanded: function(subgrid_id, group_id) {
            $("#"+subgrid_id).append("<table id='"+subgrid_id+"_t"+"' class='scroll'></table>"
                +"<div id='"+subgrid_id+"_p"+"' class='scroll'></div></br>");

            var addDelFlag = false;
            utils.postRequest(
                { "group_id": group_id },
                function(data) {
                    console.log("Is Reg Group?");
                    console.log(data["result"]);
                    addDelFlag = data["addDelFlag"];
                },
                "/groupcontroller/isreggroup"
            );

            $("#"+subgrid_id+"_t").jqGrid({
                url: "/handler/" + serverData.group.SubTableName.replace(/_/g, "")+"load/"+group_id,
                colNames: serverData.group.SubColNames,
                colModel: gridLib.SetPrimitive(serverData.group.SubColModel),
                rowNum: 5,
                rowList: [5, 10, 20, 50],
                pager: "#"+subgrid_id+"_p",
                caption: serverData.group.SubCaption,
                sortname: "num",
                editurl: "/gridcontroller/editgridrow/" + serverData.group.SubTableName,
                gridComplete: function() {
                    var rows = $("#"+subgrid_id+"_t").getDataIDs();
                    for (var i = 0; i < rows.length; i++) {
                        var status = $("#"+subgrid_id+"_t").getCell(rows[i], "status");
                        console.log(status)
                        if (status === "true") {
                            $("#"+subgrid_id+"_t").jqGrid('setRowData', rows[i], false, "row-green");
                        }
                    }
                },
            });

            $("#"+subgrid_id+"_t").navGrid(
                "#"+subgrid_id+"_p",
                {   //buttons
                    edit: false,
                    add: addDelFlag,
                    del: addDelFlag,
                    view: true,
                    search: false,
                    refresh: false,
                },
                {},
                {   //add
                    width: "100%",
                    recreateForm: true,
                    addedrow: "last",
                    afterSubmit: function(data) { return gridLib.errTextFormat(data, subgrid_id+"_t"); },
                    beforeShowForm: function(form) {
                        $("#tr_status", form).hide();
                    },
                    errorTextFormat: function(data) { return gridLib.errTextFormat(data, subgrid_id+"_t"); },
                    afterShowForm: function(formId) {
                        var grSelect = $($($($('#tr_group_id', formId)[0]).children()[1]).find('select'));
                        grSelect.val($("#my-group-table").jqGrid("getGridParam", "selrow"));

                        var face = $($($('#tr_face_id', formId)[0]).children()[1]);
                        var ansSelect = $(face.find('select'));
                        ansSelect.empty();

                        var tr1 = $('<tr class="FormData" id="tr_AddInfoForChoosingParams">'
                            +'<td class="CaptionTD ui-widget-content">'
                            +'<p><b>Выберите параметры поиска:</b></p>'
                            +'</td></tr>').insertAfter($('#tr_face_id', formId).show());
                        var tdParams = $('<td><p>'
                            +'<table id="params-table"></table>'
                            +'<div id="params-table-pager"></div>'
                            +'</p></td>').appendTo(tr1);
                        var tr2 = $('<tr class="FormData" id="tr_AddInfoForChoosingFace">'
                            +'<td class="CaptionTD ui-widget-content">'
                            +'<p><b>Выберите участника:</b></p>'
                            +'</td></tr>').insertAfter($('#tr_AddInfoForChoosingParams', formId).show());
                        var tdFaces = $('<td><p>'
                            +'<table id="faces-table"></table>'
                            +'<div id="faces-table-pager"></div>'
                            +'</p></td>').appendTo(tr2);

                        var filter = {};

                        $("#params-table").jqGrid({
                            url: "/gridcontroller/load/" + serverData.params.TableName,
                            treeGrid: false,
                            colNames: serverData.params.ColNames,
                            colModel: gridLib.SetPrimitive(serverData.params.ColModel),
                            pager: "#params-table-pager",
                            gridview: true,
                            viewrecords: true,
                            rowNum: 1,
                            rownumWidth: 20,
                            caption: serverData.params.Caption,
                            loadComplete: function() {
                                $("#faces-table").trigger('reloadGrid');
                            },
                            beforeRequest: function() {
                                filter = $("#params-table").getGridParam("postData").filters;
                            }
                        });

                        $("#params-table").jqGrid("hideCol", ["id"]);
                        $("#params-table").jqGrid("hideCol", ["date"]);

                        $("#params-table").navGrid(
                            "#params-table-pager",
                            {   // buttons
                                edit: false,
                                add: false,
                                del: false,
                                search: true,
                                refresh: false,
                                view: false,
                            }, {}, {}, {},
                            {   // search
                                multipleGroup: true,
                                closeOnEscape: true,
                                multipleSearch: true,
                                closeAfterSearch: true,
                                showQuery: true,
                        });

                        formId.bind("resize", function() {
                            $("#params-table").setGridWidth(formId.width()-100, true);
                        }).trigger("resize");

                        $("#faces-table").jqGrid({
                            url: "/gridcontroller/load/search",
                            treeGrid: false,
                            colNames: serverData.faces.ColNames,
                            colModel: gridLib.SetPrimitive(serverData.faces.ColModel),
                            pager: "#faces-table-pager",
                            gridview: true,
                            viewrecords: true,
                            rowNum: 5,
                            rownumbers: true,
                            rownumWidth: 20,
                            rowList: [5, 10, 20, 50],
                            caption: serverData.faces.Caption,
                            beforeRequest: function() {
                                $("#faces-table").setGridParam({ postData: {
                                    "filters": filter ? filter : null,
                                } });
                            },
                            onSelectRow: function(faceId) {
                                ansSelect.empty();
                                var fio = $($($("#faces-table").find('tr#'+faceId)[0]).find('td')[1]).text();
                                console.log("fio: ", fio);
                                var option = $("<option/>", { value: faceId, text:  fio });
                                ansSelect.append(option);
                            }
                        });

                        $("#faces-table").navGrid(
                            "#faces-table-pager",
                            {   // buttons
                                edit: false,
                                add: false,
                                del: false,
                                view: false,
                                search: false,
                                refresh: false,
                        });

                        formId.bind("resize", function() {
                            $("#faces-table").setGridWidth(formId.width()-100, true);
                        }).trigger("resize");
                    }
                },
                {   //del
                    closeAfterAdd: true,
                }
            );

            $("#"+subgrid_id+"_t").jqGrid(
                "navButtonAdd",
                "#"+subgrid_id+"_p",
                {
                    caption: "", buttonicon: "ui-icon-plusthick", title: "Добавить участника", id: "add-person_"+subgrid_id+"_t",
                    onClickButton: function() {
                        var groupId = $("#my-group-table").jqGrid("getGridParam", "selrow");
                        if (!groupId) return false;
                        groupLib.AddPerson("dialog-add-person", groupId);
                    }
                }
            );

            $("#"+subgrid_id+"_t").jqGrid("hideCol", ["id"]);

            if (!addDelFlag) {
                $("#add-person_"+subgrid_id+"_t").hide();
            }

            updateJqGridWidths();
        }
    });

    $("#my-group-table").jqGrid("hideCol", ["id"]);
    $("#my-group-table").jqGrid("hideCol", ["face_id"]);

    $("#my-group-table").navGrid(
        "#my-group-table-pager",
        {
            edit: true,
            add: true,
            del: false,
            view: true,
            search: false,
            refresh: false,
        },
        {
            width: "100%",
            recreateForm: true,
            afterSubmit: function(data) { return gridLib.errTextFormat(data, "my-group-table"); },
            errorTextFormat: function(data) { return gridLib.errTextFormat(data, "my-group-table"); },
            afterShowForm: gridLib.resizeSelectWidth,
        },
        {
            width: "100%",
            recreateForm: true,
            addedrow: "last",
            errorTextFormat: function(data) { return gridLib.errTextFormat(data, "my-group-table"); },
            afterShowForm: gridLib.resizeSelectWidth,
            afterSubmit: function(data) {
                var ans = gridLib.errTextFormat(data, "my-group-table");
                window.location.reload();
                return ans;
            },
        },
        {
            afterSubmit: function(data) {
                var ans = gridLib.errTextFormat(data, "my-group-table");
                window.location.reload();
                return ans;
            },
        }
    );

    $("#my-group-table").jqGrid(
        "navButtonAdd",
        "#my-group-table-pager",
        {
            caption: "", buttonicon: "ui-icon-script", title: "Регистрация группы",
            onClickButton: function() {
                var groupId = $("#my-group-table").jqGrid("getGridParam", "selrow");
                if (!groupId) return false;
                groupLib.Register("dialog-reg-group", groupId, false, false, serverData.events);
            }
        }
    );

    $("#group-table").jqGrid({
        url: "/handler/" + serverData.group.TableName.replace(/_/g, "")+"load",
        colNames: serverData.group.ColNames,
        colModel: gridLib.SetPrimitive(serverData.group.ColModel),
        pager: "#group-table-pager",
        gridview: true,
        viewrecords: true,
        rowNum: 5,
        rownumbers: true,
        rownumWidth: 20,
        rowList: [5, 10, 20, 50],
        caption: "Группы, в которых я состою"
    });

    $("#group-table").jqGrid("hideCol", ["id"]);

    $("#reg-table").jqGrid({
        url: "/handler/" + serverData.reg.TableName.replace(/_/g, "")+"load",
        treeGrid: false,
        colNames: serverData.reg.ColNames,
        colModel: gridLib.SetPrimitive(serverData.reg.ColModel),
        pager: "#reg-table-pager",
        gridview: true,
        viewrecords: true,
        rowNum: 5,
        rownumbers: true,
        rownumWidth: 20,
        rowList: [5, 10, 20, 50],
        caption: serverData.reg.Caption
    });

    $("#reg-table").jqGrid("hideCol", ["id"]);
    $("#reg-table").jqGrid("hideCol", ["face_id"]);

    $("#reg-table").navGrid(
        "#reg-table-pager",
        {
            edit: false,
            add: false,
            del: false,
            refresh: false,
            view: false,
            search: false
        }
    );

    $("#reg-table").jqGrid(
        "navButtonAdd",
        "#reg-table-pager",
        {
            caption: "", buttonicon: "ui-icon-script", title: "Анкета",
            onClickButton: function() {
                var selectedRowId = $("#reg-table").jqGrid("getGridParam", "selrow");
                var regId = $("#reg-table").jqGrid("getCell", selectedRowId, "id");
                blank.showPersonBlank("dialog-person-request", regId);
            }
        }
    );

    $("#groupreg-table").jqGrid({
        url: "/handler/usergroupregistrationsload/0",
        treeGrid: false,
        colNames: serverData.groupreg.ColNames,
        colModel: gridLib.SetPrimitive(serverData.groupreg.ColModel),
        pager: "#groupreg-table-pager",
        gridview: true,
        viewrecords: true,
        rowNum: 5,
        rownumbers: true,
        rownumWidth: 20,
        rowList: [5, 10, 20, 50],
        caption: "Регистрации групп",

        subGrid: serverData.groupreg.Sub,
        subGridOptions: {
            "plusicon": "ui-icon-triangle-1-e",
            "minusicon": "ui-icon-triangle-1-s",
            "openicon": "ui-icon-arrowreturn-1-e",
            "reloadOnExpand": true,
            "selectOnExpand": true
        },
        subGridRowExpanded: function(subgrid_id, row_id) {
            $("#"+subgrid_id).append("<table id='"+subgrid_id+"_t"+"' class='scroll'></table>"
                +"<div id='"+subgrid_id+"_p"+"' class='scroll'></div></br>");

            var group_id = $("#groupreg-table").jqGrid("getCell", row_id, "group_id");
            var event_id = $("#groupreg-table").jqGrid("getCell", row_id, "event_id");

            console.log("groupreg.ColModel: ", gridLib.SetPrimitive(serverData.groupreg.ColModel));

            $("#"+subgrid_id+"_t").jqGrid({
                url: "/handler/" + serverData.groupreg.SubTableName.replace(/_/g, "")+"load/"+group_id,
                colNames: serverData.groupreg.SubColNames,
                colModel: gridLib.SetPrimitive(serverData.groupreg.SubColModel),
                rowNum: 5,
                rowList: [5, 10, 20, 50],
                pager: "#"+subgrid_id+"_p",
                caption: serverData.groupreg.SubCaption,
                sortname: "num",
                editurl: "/gridcontroller/editgridrow/" + serverData.groupreg.SubTableName
            });

            $("#"+subgrid_id+"_t").navGrid(
                "#"+subgrid_id+"_p",
                {
                    edit: false,
                    add: false,
                    del: false,
                    refresh: false,
                    view: false,
                    search: false
                }
            );

            $("#"+subgrid_id+"_t").jqGrid(
                "navButtonAdd",
                "#"+subgrid_id+"_p",
                {
                    caption: "", buttonicon: "ui-icon-contact", title: "Редактировать анкету участника группы",
                    onClickButton: function() {
                        var personId = $("#"+subgrid_id+"_t").jqGrid("getGridParam", "selrow");
                        var faceId = $("#"+subgrid_id+"_t").jqGrid("getCell", personId, "face_id");
                        blank.showPersonBlankFromGroup(row_id, faceId, "dialog-group-person-request", "true");
                    }
                }
            );

            $("#"+subgrid_id+"_t").jqGrid("hideCol", ["id"]);

            updateJqGridWidths();
        }
    });

    $("#groupreg-table").jqGrid("hideCol", ["face_id"]);
    $("#groupreg-table").jqGrid("hideCol", ["id"]);

    $("#groupreg-table").navGrid(
        "#groupreg-table-pager",
        {
            edit: false,
            add: false,
            del: false,
            refresh: false,
            view: false,
            search: false
        }
    );

    $("#my-teams-table").jqGrid({
        url: "/handler/usergroupregistrationsload/1",
        treeGrid: false,
        colNames: serverData.groupreg.ColNames,
        colModel: gridLib.SetPrimitive(serverData.groupreg.ColModel),
        pager: "#my-teams-table-pager",
        gridview: true,
        viewrecords: true,
        rowNum: 5,
        rownumbers: true,
        rownumWidth: 20,
        rowList: [5, 10, 20, 50],
        caption: "Регистрации команд",

        subGrid: serverData.groupreg.Sub,
        subGridOptions: {
            "plusicon": "ui-icon-triangle-1-e",
            "minusicon": "ui-icon-triangle-1-s",
            "openicon": "ui-icon-arrowreturn-1-e",
            "reloadOnExpand": true,
            "selectOnExpand": true
        },
        subGridRowExpanded: function(subgrid_id, row_id) {
            $("#"+subgrid_id).append("<table id='"+subgrid_id+"_t"+"' class='scroll'></table>"
                +"<div id='"+subgrid_id+"_p"+"' class='scroll'></div></br>");

            var group_id = $("#my-teams-table").jqGrid("getCell", row_id, "group_id");
            var event_id = $("#my-teams-table").jqGrid("getCell", row_id, "event_id");

            $("#"+subgrid_id+"_t").jqGrid({
                url: "/handler/" + serverData.groupreg.SubTableName.replace(/_/g, "")+"load/"+group_id,
                colNames: serverData.groupreg.SubColNames,
                colModel: gridLib.SetPrimitive(serverData.groupreg.SubColModel),
                rowNum: 5,
                rowList: [5, 10, 20, 50],
                pager: "#"+subgrid_id+"_p",
                caption: serverData.groupreg.SubCaption,
                sortname: "num",
                editurl: "/gridcontroller/editgridrow/" + serverData.groupreg.SubTableName
            });

            $("#"+subgrid_id+"_t").navGrid(
                "#"+subgrid_id+"_p",
                {
                    edit: false,
                    add: false,
                    del: false,
                    refresh: false,
                    view: false,
                    search: false
                }
            );

            $("#"+subgrid_id+"_t").jqGrid(
                "navButtonAdd",
                "#"+subgrid_id+"_p",
                {
                    caption: "", buttonicon: "ui-icon-contact", title: "Редактировать анкету участника группы",
                    onClickButton: function() {
                        var personId = $("#"+subgrid_id+"_t").jqGrid("getGridParam", "selrow");
                        var faceId = $("#"+subgrid_id+"_t").jqGrid("getCell", personId, "face_id");
                        blank.showPersonBlankFromGroup(row_id, faceId, "dialog-group-person-request", "true");
                    }
                }
            );

            $("#"+subgrid_id+"_t").jqGrid("hideCol", ["id"]);

            updateJqGridWidths();
        }
    });

    $("#my-teams-table").jqGrid("hideCol", ["id"]);

    $("#my-teams-table").navGrid(
        "#my-teams-table-pager",
        {
            edit: false,
            add: false,
            del: false,
            refresh: false,
            view: false,
            search: false
        }
    );

    $("#my-teams-table").jqGrid(
        "navButtonAdd",
        "#my-teams-table-pager",
        {
            caption: "", buttonicon: "ui-icon-contact", title: "Редактировать анкету группы",
            onClickButton: function() {
                var regId = $("#my-teams-table").jqGrid("getGridParam", "selrow");
                blank.showPersonBlankFromGroup(regId, "-1", "dialog-group-request", "false");
            }
        }
    );

    $("#teams-table").jqGrid({
        url: "/handler/" + serverData.groupreg.TableName.replace(/_/g, "")+"load",
        treeGrid: false,
        colNames: serverData.groupreg.ColNames,
        colModel: gridLib.SetPrimitive(serverData.groupreg.ColModel),
        pager: "#teams-table-pager",
        gridview: true,
        viewrecords: true,
        rowNum: 5,
        rownumbers: true,
        rownumWidth: 20,
        rowList: [5, 10, 20, 50],
        caption: "Регистрации команд, в которых я состою"
    });

    $("#teams-table").jqGrid("hideCol", ["id"]);

    $("#teams-table").navGrid(
        "#teams-table-pager",
        {
            edit: false,
            add: false,
            del: false,
            refresh: false,
            view: false,
            search: false
        }
    );


    $("#teams-table").jqGrid(
        "navButtonAdd",
        "#teams-table-pager",
        {
            caption: "", buttonicon: "ui-icon-contact", title: "Показать анкету группы",
            onClickButton: function() {
                var groupRegId = $("#teams-table").jqGrid("getGridParam", "selrow");
                blank.showGroupBlank(groupRegId, "dialog-group-request");
            }
        }
    );

    $(window).bind("resize", updateJqGridWidths).trigger("resize");

});

</script>

{{template "footer"}}
{{end}}
